@font-face {
    font-family: 'Big Noodle Titling';
    src: url(../css/fonts/big_noodle_titling.ttf);
}
html {
    background-color: #f5f0f0;
}
body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    color: #353535;
    font-family: 'Big Noodle Titling', Arial, sans-serif;
}
/*Banner Section Start*/
.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 600px;
    background-image: url("../img/paris-background.jpg");
    background-repeat: no-repeat;
    background-position: right 90px;
    background-size: cover; 
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: #f8f6f6;
    border-bottom: 3px solid #edebeb;
}
.menu {
    width: 30px;
    height: 30px;
    border: 1px solid blue;
    margin-right: 15%;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.logo span {
    font-family: 'Big Noodle Titling', Arial, sans-serif;
    color: #696969;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 10px;
}
.logo img {
    height: 35px;
    width: 40px;
}
.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-text span:first-child {
    color: #d6d5d5;
    font-size: 56px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7.8px;
    width: 90%;
    text-align: center;
}
.banner-text span:last-child {
    color: #d6d5d5;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    width: 90%;
    text-align: center;
}
.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    text-decoration: none;
}
.scroll-down img {
    width: 30px;
    height: 30px;
}
.scroll-down span {
    font-size: 15px;
    color: #d6d5d5;
    margin-top: 10px;
}
.scroll-sign {
    display: flex;
    justify-content: center;
}
/*Banner Section End*/
/*About Section Start*/
.about-container {
    display: flex;
    height: 100vh;
    min-height: 600px;
    flex-direction: column;
}
.about-first {
    height: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}
.about-text {
    width: 70%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-text span {
    width: 100%;
    text-align: center;
}
.about-text span:first-child {
    color: #3d3d3d;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
     text-decoration: underline red;
}
.about-text span:last-child {
    color: #696969;
    font-family: "Roboto", "Times New Roman", serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
.about-blocks {
    width: 70%;
    display: flex;
    justify-content: space-between;
    height: 35%;
}
.about-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 30%;
    height: 100%;
    min-height: 100px;
    background-color: #ebebeb;
}
.about-items img {
    height: 50px;
    width: 50px;
}
.about-items .about-heading {
    color: orange;
    font-family: "Roboto", "Times New Roman", serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.about-items span:last-child {
    color: #707070;
    font-family: "Roboto", "Times New Roman", serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.35px;
    text-align: center;
    width: 80%;
}
.about-second {
    height: 40%;
    display: flex;
    background-color: #171f23;
}
.play-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.play-container span:first-child {
    color: #e7e7e7;
    font-family: "Roboto", "Times New Roman", serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}
.play-container .play-text {
    color: #696969;
    font-family: "Roboto", "Times New Roman", serif;
    font-size: 10px;
    font-weight: 400; 
    text-align: center;
    width: 70%;
}
.play-container button {
    width: 130px;
    height: 38px;
    background-color: #e84c3d;
    color: #ebebeb;
    font-family: "Roboto", "Times New Roman", serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    margin-bottom: 35px;
}
.video-container {
    width: 50%;
    height: 100%;
}
/*About Section End*/
/*Our Work Section Start*/
.work {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}
.work-header {
    height: 40%;
    display: flex;
    flex-direction: column;
}
.work-title {
    display: flex;
    flex-direction: column;
    height: 75%;
}
.work-title span {
    width: 100%;
    text-align: center;
}
.work-title span:first-child {
    color: #3d3d3d;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: underline red;
    margin-top: 40px;
}
.work-title span:last-child {
    color: #696969;
    width: 50%;
    font-family: "Roboto", "Times New Roman", serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin: auto;
}
.work-nav {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-nav ul {
    list-style-type: none;
    width: 60%;
}
.work-nav li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
.work-nav li.active {
    text-decoration: underline red;
}
.projects {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}
.projects a {
    width: 20%;
}
.projects img {
    width: 100%;
    height: 100%;
}
/*Our Work Section End*/